*{
    color: white;
}



body {
    background-color: bisque;
}
.container{
    width: 500px;
    background-color: #023047;
    margin-left: 400px;
    margin-top: 200px;
    border-radius: 15px;
}
h2{
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px blue;
    font-family: 'Righteous', cursive;

}
p{
    font-family: 'Roboto Slab', serif;
    font-size: large;
    margin-left: 20px;
}
form{
    margin-left: 20px;
    font-size: medium;
}
input{
    width: 150px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    color: #023047;
    font-weight: bold;
    font-size: large;
}
#labelBill{
    margin-left: 50px;
}
#calculator{
    margin-left: 150px;
    padding: 10px;
    width: 150px;
    color: #023047;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}
#calculator:hover{
    background-color: aqua;
}